@font-face {
	font-family: "xmas";
	src: url(./Roboto_Condensed/RobotoCondensed-Bold.ttf);
}
@font-face {
	font-family: "head2";
	src: url(./Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
@font-face {
	font-family: "body";
	src: url(./Roboto_Condensed/RobotoCondensed-Light.ttf);
}
body {
	background-color: white;
	background-size: 100%;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
}

p {
	background-color: white;
	background-size: 100%;
	font-family: body;
	margin: 0;
	padding: 0;
	color: rgb(0, 0, 0);
	text-align: center;
}

header {
	margin: 0;
	padding: 0;
	padding-top: 1%;
	padding-bottom: 1%;
	background-image: url("../imgs/header.jpg");
	background-size:100%;
}

h1 {
	color: black;
	text-emphasis-color: white;
	text-emphasis-style: solid;
	text-decoration: solid;
	font-size: 2vw;
	text-align: center;
	margin: 0;
	font-family: "xmas";
}
h2 {
	padding-top: 3%;
	color: black;
	text-emphasis-color: white;
	text-emphasis-style: solid;
	text-decoration: solid;
	font-size: 1.5vw;
	text-align: center;
	margin: 0;
	font-family: "head2";
}

h3 {
	padding-top: 3%;
	color: black;
	text-decoration: solid;
	font-size: 1.8vw;
	text-align: center;
	margin: 0;
	font-family: "head2";
}

.nav {
	background-color: white;
	display: block;
}

.nav a {
	width: 15%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	outline-width: 1;
	outline-style: solid;
	text-align: center;
	display: inline-block;
	transition: 0.8s;
	text-decoration: none;
	font-size: 2vh;
	font-family: xmas;
	color: black;
}


.nav .empty {
	outline-style: none;
}

.nav a:hover {
	background-color: maroon;
	color: white;
	font-size: 2.5vh;
}

.filter {
	width: 15%;
	float: left;
	background-color: black;
	color: white;
	border-radius: 5px;
	margin: 10px;
}

.filter p {
	padding: 1vh 0 1vh 0;
	margin: 2%;
	text-align: center;
	color: white;
	font-family: xmas;
	font-size: 150%;
	outline-width: 1px;
}

.main {
	border-radius: 15px;
	display: block;
	background-color: white;
	width: 95%;
	margin: 0 auto;
}


.products {
	width: 80%;
	margin: 10px;
	float: center;
	text-align: center;
	font-family: head2;
}

.item {
	background-color:white;
	text-align: center;
	border-radius: 5px;
	color: black;
	width: 30%;
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
}

.item img{
	width: 50%;
	border: 4px solid black;
}

.login {
	background-color: white;
	margin: 10px auto;
	width: 30%;
	font-family: xmas;
	color: maroon;
	border-radius: 15px;
	border-style: solid;
	border-color: maroon;
	border-width: 4px;
}

.register {
	background-color: white;
	margin: 10px auto;
	width: 60%;
	font-family: xmas;
	color: maroon;
	border-radius: 15px;
	border-color: maroon;
	border-style: solid;
	border-width: 4px;	
}

.login input .text, .register input .text {
	margin: 5px;
	float:right;
	border: 2px maroon solid;
}

.login p {
	text-align: center;
	font-size: 2vw;
}

.login p a {
	color: maroon;
	text-decoration: none;
}

.login p a:hover {
	color: green;
}

.login label, .register .l_d label {
	padding: 10px;
	font-size: 2vw;
}

.login  .button, .register .button{
	background-color: maroon;
	color: white;
	display: block;
	margin: 10px auto 10px auto;
	padding: 10px;
	width: 30%;
	font-family: xmas;
	font-size: 2vw;
}

.login  .button:hover, .register .button:hover{
	background-color: green;
}

.login h2, .register h2 {
	margin: 5px;
	text-align: center;
	font-size: 3vw;
}

.l_d {
	display: block;
	margin: 0 auto;
	width: max-content;
}
.about{
	width:70%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.aboutinfobox{
	width: 50%;
	z-index: 15;
	left: 50%;
	right: 50%;
	margin-left: auto;
	margin-right: auto;
}
.marnus{
	width: 50%;
	display: inline-block;
	text-align: center;
	display: block;
	float: left;
}
.about img{
	width:50%;
    border-radius: 200px;
    box-sizing: border-box;
    background-color: #DDD;
	border: 5px solid #cfd8dc;
	text-align: center;
	margin-top: 1vh;
	margin-bottom: 2vh;
}
.about p{
	margin: 1vh;
}
.about .moreabout{
	width: 50%;
	z-index: 15;
	left: 50%;
	right: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3vh;
}
